.pattern-display {
    margin-top: 125px;
    padding: 20px;
    background-color: rgba(39, 39, 53, 0.685);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.pattern-display {
    width: 1000px;
    display: flex;
    justify-content: center;
}

/* .pattern-times {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.pattern-display:hover .pattern-times {
    opacity: 1;
} */
