#main-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 225px;
  gap: 25px;
}

#logged-in-nav {
position: relative;
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}

.nav-greeting {
  padding: 10px;
}

#main-nav.closed {
  height: 25px;

}

#main-nav.closed .nav-open-text {
  display: none;
}

#nav-list {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-profile {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 35px;
}
